<div class="container">
  <%= render @post %>
  <div style="margin-left:500px;">
  <%= link_to "Edit this post", edit_post_path(@post), class:"btn btn-success" %> |
  <%= link_to "Back to posts", posts_path, class:"btn btn-info" %><br>  

 <br> <%= button_to "Destroy this post", @post, method: :delete, class:"btn btn-danger" , style:"margin-left:50px;"%><br>
</div>
</div>
<div class="container">
  <%= render 'comments/form', post: @post %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
</div>



